body{
    position: relative;
    height: 90vh;
    background: rgba(105, 230, 135)
}

.section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}